name: Deploy NodeJS Application to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Hostinger
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USERNAME }}
          key: ${{ secrets.HOSTINGER_KEY }}
          port: ${{ secrets.HOSTINGER_PORT }}
          script: |
            cd /home/u943471766/domains/alishah.me/public_html
            git pull origin main
            npm install
            npm run build
            pm2 restart nodejs-app

